$cyan:                   #00bcd4;
$midnight:               #2d3c51;
$white:                  #ffffff;

// Color used in about page
$grey24:        #404040;
$grey25:        #404040;
$grey34:        #575757;
$grey60:        #999999;
$grey95:        #f2f2f5;
$black-opacity: rgba(0, 0, 0, 0.2);

$nprogress-color:        complement($cyan);

$navbar-inverse-bg:      $white;
