.high-voltage-pages.about {
  .pagination-centered {
    text-align: center;
  }

  .about-quote {
    background-color: $grey95;
    margin-bottom: 0;

    h1 {
      font-size: 49px;
      font-weight: 300;
      padding-bottom: 10px;
    }

    p {
      font-size: 20px;
      font-weight: 300;
    }
  }

  .about-us {
    float: none;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-size: 30px;
      font-weight: bold;
      margin: 15px 0;
      padding-bottom: 5px;
      padding-top: 30px;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 16px;
      letter-spacing: 0.4px;
      line-height: 1.8;
      padding: 5px 0;
      text-align: center;
    }
  }

  .about-img {
    box-shadow: 0 0 5px $grey60;
    margin-bottom: 5px;
  }

  .features {
    margin-top: 5px;
    text-align: center;

    h4 {
      color: $grey34;
      font: {
        size: 16px;
        weight: normal;
      }
      padding-bottom: 5px;
    }
  }

  .icon-github {
    color: $grey25;
    padding-bottom: 10px;
  }

  .popover {
    border-radius: 10px;
    box-shadow: 0 0 30px $black-opacity;
  }

  .popover-title {
    background-color: $grey24;
    border-radius: 10px 10px 0 0;
    color: $white;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }

  .popover-content {
    border-radius: 10px;
    text-align: center;
  }

  .about-license {
    font-size: small;
  }

  .about-link {
    color: initial;
    text-decoration: underline;
  }

  .github-button {
    margin-left: 10px;
    margin-right: 10px;
  }
}
